$pretty_red: #ff5353;

body{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { font-weight: bold;}
.artist_wrap{
    margin-top: 20px;
    .artist_nm{
        font-size: 16px;
    }
    .song_tit{
        font-size: 14px;
    }
    .song_list >{
        .song_nm{ color: #ff602199;}
    }
}