$pretty_red: #ff5353;

body{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul >{
    li{list-style: none;}
}

@mixin define_wrap{
    background-color: #ff5353;
    margin: 20px 20px 0px 20px;
}

h1 { font-weight: bold;}
.artist_wrap{
    @include define_wrap;
    .artist_nm{
        font-size: 16px;
    }
    .song_tit{
        font-size: 14px;
    }
    .song_list >{
        .song_nm{ color: #ff602199;}
    }
}